table {
    border-collapse: collapse;
    text-align: center;
    margin: 10px;
}

th, td {
    padding: 5px;
    border: 1px solid black;
}

div {
    margin: 10px;
}

form {
    margin: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
}